.tg-accordion {
  .card:first-child {
    border-top: 1px solid $border;
  }

  .card {
    border: none;
    border-bottom: 1px solid $border;
    border-radius: 0px;
  }

  .card-header {
    background: unset;
    padding: 0;
    border-radius: 0 !important;
    border-bottom: 0 !important;

    .card-title-button {
      width: 100%;
      font-weight: 700;
      line-height: 3;
      font-size: 15px;
      user-select: none;

      .card-header-text {
        font-weight: 900;
        font-family: sans-serif;

        &.active {
          color: $secondary;
        }

        &.non-active {
          color: $black;
        }
      }

      .card-header-icon {
        &.active {
          svg {
            color: $black;
          }
        }

        &.non-active {
          svg {
            color: $secondary;
          }
        }
      }
    }
  }

  .card-body {
    padding: 10px 0px 20px;
    font-size: 15px;

    a {
      font-weight: 900;
      color: $black;

      &:hover {
        color: $black;
      }
    }
  }
}
