.horizontal-divider {
  width: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.form-heading {
  color: $primary;
  font-weight: bold;
}

.no-product {
  margin-top: 10px;
  font-weight: bold;
  border-radius: $borderRadius8;
  padding: 5px;
  background-color: $background-light;
}

.details-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

.form-button {
  font-size: 12px !important;
  width: 100%;
  font-weight: bold !important;
  color: $white;
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
  padding: 13px 30px 12px;
  background: $primary;
  border: none;

  &:disabled {
    opacity: 0.5;
  }
}

.form-div {
  max-width: 500px;
  min-width: 500px;
  padding: 20px 25px;
  border-radius: $borderRadius8;
  background-color: $background-light;
  margin: 0 auto;
  animation: moveInLeft;
  animation-duration: 0.8s;
  transition: all;

  .photo-container {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .product-photo {
      border-radius: $borderRadius8;
      width: 70px;
      height: 70px;
      margin-bottom: 10px;
    }
  }
  .site-btn {
    width: 150px;
  }
}

.photos-div {
  max-width: 500px;
  min-width: 500px;
  padding: 20px 25px;
  height: fit-content;
  border-radius: $borderRadius8;
  background-color: $background-light;
  margin: 0 auto;
  animation: moveInRight;
  animation-duration: 0.8s;
  transition: all;

  .photo-container {
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .product-photo {
      border-radius: $borderRadius8;
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
