.side-nav-wrapper {
  position: fixed;
  width: 280px;
  height: 100%;
  top: 0;
}

.container-wrapper {
  margin-left: 281px;
}

a.active {
  background-color: $primary !important;
}

.side-nav-logo {
  width: 100px;
}

.company-doc-img-wrapper {
  overflow: hidden !important;

  a {
    color: $primary;

    &:hover {
      color: $primary;
    }
  }
}
