.btn-ap-custom {
  padding: 8px 25px;
  color: $white;
  background-color: $primary;
  width: fit-content;
  border-radius: $borderRadius8;

  &:hover {
    background-color: darken($primary, 5%);
  }
  &:disabled {
    background-color: lighten($color: $primary, $amount: 10);
  }
}
