.badge-container {
  padding: 3px 10px;
  color: $white;
  font-size: small;
  border-radius: $borderRadius4;
}
.status-badge {
  padding: 5px 8px;
  border-radius: $borderRadius4;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  user-select: none;
  cursor: pointer;
  @media only screen and (max-width: 767px) {
    font-size: 10px;
  }
}

.status-badge.gray {
  background: $badge-gray-background;
  color: $badge-gray;
}

.status-badge.orange {
  background: $badge-orange-background;
  color: $badge-orange;
}

.status-badge.blue {
  background: $badge-blue-background;
  color: $badge-blue;
}

.status-badge.red {
  background: $badge-red-background;
  color: $badge-red;
}

.status-badge.green {
  background: $badge-green-background;
  color: $badge-green;
}
