.form-control {
  height: 60px !important;
  border-radius: $borderRadius4 !important;

  &:focus {
    border-color: $primary !important;
  }
}

.tg-textarea {
  height: auto !important;
}

.tg-select-react {
  .tg-select__value-container {
    height: 60px;
  }

  .tg-select__input-container {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
  }

  .tg-select__single-value {
    padding-top: 1.625rem;
    padding-bottom: 0.625rem;
    margin-left: 3px;
  }

  .tg-select__control {
    border-width: 1px !important;
    box-shadow: none !important;
    border-radius: $borderRadius4 !important;

    &.tg-select__control--is-focused {
      border-color: $primary !important;
      border-width: 1px !important;
      box-shadow: none !important;
    }

    &.tg-select__control--is-focused.tg-select__control--menu-is-open {
      border-color: $primary !important;
      border-width: 1px !important;
      box-shadow: none !important;
    }
  }

  .tg-select__menu {
    z-index: 10;
  }
}

.zIndex1 {
  z-index: 1 !important;
}

.tg-datepicker-wrapper {
  height: 60px !important;
  position: relative;
  border: 1px solid #cccccc !important;
  border-radius: $borderRadius8 !important;
  width: 100%;
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 5px;
  background: $white;

  &:focus {
    border-color: $primary;
  }

  p {
    font-size: 14px;
    margin: 0;
    padding: 0;
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1rem 0.75rem;
    pointer-events: none;
    border: 1px solid transparent;
    transform-origin: 0 0;
    transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
    opacity: 0.65;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    display: flex;
  }

  button.react-date-picker__button svg,
  button.react-date-picker__button:hover svg {
    stroke: $black !important;
  }

  .react-date-picker {
    width: 100%;
    top: 20px;

    .react-date-picker__wrapper {
      border: none;

      .react-date-picker__inputGroup {
        padding: 0px;
      }
    }
  }

  .react-calendar {
    border-radius: $borderRadius8 !important;
    width: 300px !important;
    border-color: #cccccc !important;
    padding: 5px !important;
  }

  .react-calendar__tile--active {
    background-color: $secondary !important;
  }

  .react-calendar__tile:disabled {
    background-color: $white !important;
  }

  .react-calendar__navigation button:disabled {
    background-color: $white !important;
  }

  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background-color: $secondary !important;
  }

  .react-calendar__tile--active {
    background-color: $primary !important;
  }

  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: $secondary !important;
  }
}

.tg-select-react-asteric {
  label {
    display: flex;

    &::after {
      content: "*";
      font-size: 20px;
      color: $badge-error;
      font-weight: bold;
    }
  }
}

.required.form-floating > label {
  display: flex;

  &::after {
    content: "*";
    font-size: 22px;
    color: $badge-error;
    font-weight: bold;
  }
}

.required-field {
  font-size: 22px;
  font-weight: bold;
  color: $badge-error;
}

.tg-phone-input {
  &.form-control {
    display: flex;
  }

  .PhoneInputCountry {
    padding-left: 2px;

    .PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
      background-color: var(--PhoneInputCountryFlag-backgroundColor--loading);
      box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth)
          var(--PhoneInputCountryFlag-borderColor),
        inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth)
          var(--PhoneInputCountryFlag-borderColor);
    }
    .PhoneInputCountrySelect:focus
      + .PhoneInputCountryIcon
      + .PhoneInputCountrySelectArrow {
      opacity: 1;
      color: $primary;
    }
  }
}
