/*---------------------
  Hero
-----------------------*/
.hero {
  padding-bottom: 50px;
  position: relative;

  &.hero-normal {
    padding-bottom: 30px;

    .hero__categories {
      ul {
        display: none;
        position: absolute;
        left: 0;
        top: 46px;
        width: 100%;
        z-index: 9;
        background: $white;
      }
    }

    .hero__search {
      margin-bottom: 0;
    }
  }
}

.hero__categories__all button.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.hero__categories__all,
.hero__categories__all button,
.hero__categories__all button.accordion-button {
  background: $primary;
  position: relative;
  // padding: 10px 25px 10px 40px;
  cursor: pointer;
  color: $white;

  &:focus {
    box-shadow: none;
  }

  i {
    font-size: 16px;
    color: $white;
    margin-right: 10px;
  }

  span {
    font-size: 18px;
    font-weight: 700;
    color: $white;
  }

  &:after {
    position: absolute;
    right: 18px;
    top: 16px;
    // top: 50%;
    // transform: translateY(-50%);
    // content: '\33';
    // font-family: 'ElegantIcons';
    font-size: 18px;
    color: $white !important;
  }
}

.hero__categories .accordion-body {
  padding: unset;
}

.hero__categories {
  ul {
    border: 1px solid $border;
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 12px;
    position: absolute;
    z-index: 2;
    width: 100%;
    background: $white;

    li {
      list-style: none;

      a {
        font-size: 16px;
        color: $normal-color;
        line-height: 39px;
        display: block;
      }
    }
  }
}

.hero__search {
  overflow: hidden;
  margin-bottom: 30px;
}

.hero__search__form {
  width: 610px;
  height: 50px;
  border: 1px solid $border;
  position: relative;
  float: left;

  form {
    .hero__search__categories {
      width: 30%;
      float: left;
      font-size: 16px;
      color: $normal-color;
      font-weight: 700;
      padding-left: 18px;
      padding-top: 11px;
      position: relative;

      &:after {
        position: absolute;
        right: 0;
        top: 14px;
        height: 20px;
        width: 1px;
        background: $black;
        opacity: 0.1;
        content: "";
      }

      span {
        position: absolute;
        right: 14px;
        top: 14px;
      }
    }

    input {
      width: 70%;
      border: none;
      height: 48px;
      font-size: 16px;
      color: #b2b2b2;
      padding-left: 20px;

      &::placeholder {
        color: #b2b2b2;
      }
    }

    button {
      position: absolute;
      right: 0;
      top: -1px;
      height: 50px;
    }
  }
}

.hero__search__phone__icon {
  font-size: 18px;
  color: $primary;
  height: 50px;
  width: 50px;
  background: $white;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.hero__search__phone__text {
  overflow: hidden;

  h5 {
    color: $normal-color;
    font-weight: 700;
    margin-bottom: 5px;
  }

  span {
    font-size: 14px;
    color: $para-color;
  }
}

.hero__item {
  height: 431px;
  display: flex;
  align-items: center;
  padding-left: 75px;
}

.hero__text {
  span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: $primary;
  }

  h2 {
    font-size: 46px;
    color: $heading-color;
    line-height: 52px;
    font-weight: 700;
    margin: 10px 0;
  }

  p {
    margin-bottom: 35px;
  }
}

.position {
  position: relative;
}
