$primary: #333333;
$secondary: #8cc63f;
$white: #ffffff;
$black: #000000;
$warning: #ffcc00;
$border: #eee;
$badge-error: #c7000b;
$badge-red: #c7000b;
$badge-red-background: #ffdfd8;
$badge-gray: #333;
$badge-gray-background: #9993;
$badge-green: #079024;
$badge-green-background: #d3efe4;
$badge-blue: #006da7;
$badge-blue-background: #00a6ff2b;
$badge-orange: #ff9000;
$badge-orange-background: #ff900040;
$background-light: #f5f5f5;
$modalPadding: 50px;
$loginScreenPadding: 60px;
$loginScreenPaddingMbl: 30px;
$headerHeight: 67px;
$fontFamily: "ProductSans";
$borderRadius4: 4px;
$borderRadius8: 8px;
$borderRadius50: 50px;

//old theme variable
$heading-color: #252525;
$para-color: #6f6f6f;
$normal-color: #1c1c1c;
