.tg-product-details {
  margin-top: 30px;
  margin-bottom: 30px;
  user-select: none;

  @media only screen and (max-width: 767px) {
    margin-top: 0px;
    margin-bottom: 15px;
  }

  .tg-product-details-left-col {
    @media only screen and (max-width: 767px) {
      padding-left: 0;
      padding-right: 0;
    }

    .tg-product-details-media-div {
      display: block;
      margin-bottom: 10px;

      @media only screen and (max-width: 991px) {
        display: none;
      }

      @media only screen and (max-width: 767px) {
        display: none;
      }

      img {
        width: 100%;
        height: 335px;
        object-fit: cover;
        border-radius: $borderRadius8;
        box-shadow: 0px 0px 4px 2px $border;
      }
    }

    .tg-product-view-gallery {
      .react-multiple-carousel__arrow {
        z-index: 2;
      }

      @media only screen and (max-width: 991px) {
        margin-bottom: 20px;
      }

      @media only screen and (max-width: 767px) {
        margin-bottom: 20px;
      }

      .gallery-div {
        width: auto;
        height: 100px;
        overflow: hidden;
        margin-left: 2px;
        margin-right: 3px;
        cursor: pointer;
        user-select: none;
        background: $border;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
        border-radius: $borderRadius8;

        @media only screen and (max-width: 991px) {
          height: 250px;
          margin: 0;
        }

        @media only screen and (max-width: 767px) {
          height: 250px;
          margin: 0;
          border-radius: 0px;
        }

        .span-count {
          display: none;
          color: $white;
          background: rgba(0, 0, 0, 0.65);
          padding: 4px 10px;
          border-radius: $borderRadius8;
          position: absolute;
          top: 10px;
          left: 10px;
          font-size: 14px;
          font-weight: 500;

          @media only screen and (max-width: 991px) {
            display: block;
          }

          @media only screen and (max-width: 767px) {
            display: block;
          }
        }
      }

      ul {
        li:first-child {
          div {
            margin-left: 0px;
          }
        }
      }
    }
  }

  .tg-product-details-right-col {
    .main-div {
      .inner-div {
        margin-bottom: 20px;

        .span-info {
          font-size: 14px;
          font-weight: 600;
          color: $black;
          background: $border;
          border-radius: $borderRadius50;
          padding: 3px 10px;
        }

        .title {
          font-size: 28px;
          font-weight: 900;
          color: $black;
          margin-bottom: 0;
        }

        .price-p {
          margin-bottom: 0;
          font-size: 24px;
          color: $black;
          font-weight: 500;

          b {
            font-family: sans-serif;
            font-size: 28px;
            font-weight: 900;
          }
        }
      }

      .inner-details {
        border: 1px solid $border;
        box-shadow: 0 0 3px 0 $border;
        border-radius: $borderRadius8;
        padding: 15px;
        width: 100%;

        p {
          font-size: 16px;
          color: $primary;
          margin-bottom: 10px;
        }

        .table-responsive {
          overflow-x: unset;
          height: auto;
          width: 100%;
          background: $background-light;
          padding: 15px;
          border-radius: $borderRadius8;
        }

        .inner-table {
          margin-bottom: 0;
          height: auto;

          tbody {
            tr {
              td {
                padding: 0;
                text-align: right;
              }

              > td:first-child {
                padding-bottom: 20px;
                padding-right: 20px;
                min-width: 150px;
                text-align: left;
              }
            }

            > tr:last-child {
              td {
                padding-bottom: 0px;
              }
            }
          }
        }
      }

      .inquire-btn {
        display: block;
        margin-top: 20px;
        border: 0;
        @media only screen and (max-width: 767px) {
          display: none;
          margin-top: 0px;
        }
      }
    }
  }

  .tg-product-details-rows {
    margin-top: 30px;

    .tg-product-details-rows-h2 {
      font-weight: 900;
      letter-spacing: 1px;
      margin-bottom: 20px;
      text-align: left;
      font-size: 20px;
    }

    .inner-additional {
      figure {
        margin-bottom: 0;

        table {
          width: 100%;
          border: 0;
          font-size: 14px;

          > tbody {
            tr {
              border-bottom: 1px solid $border;
              td {
                padding: 10px;
              }

              > td:first-child {
                font-weight: 600;
              }
            }
            > tr:first-child {
              border-top: 1px solid $border;
            }
          }
        }
      }
    }
  }

  .tg-products-detail-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 15px;
    display: none;

    @media only screen and (max-width: 767px) {
      display: block;
    }
  }
}
